.post-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 2rem;
}

.post-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  flex: 1;

  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.post-image-frame {
  overflow: hidden;
  box-sizing: border-box;
}

.post-image-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-tweet-text {
  font-size: xx-large;
  padding: 1rem 2rem;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.post-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  min-width: 16rem;
}

.post-form-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
}

.post-form-buttons-container button {
  border: none;
  background-color: #f91880;
  color: white;
  font-size: xx-large;
  padding: 1rem 5rem;
  border-radius: 5rem;
}

.post-form-buttons-container button:hover {
  background-color: #e01673;
  cursor: pointer;
}

.posting-spinner-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 1rem;
  padding: 2rem;

  color: black;
}

.posting-stage {
  color: #733277;
}
.posting-stage.posting-success {
  color: #dc5ee5;
  font-weight: bold;
}
