.blog-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: start;
}

.blog-input-select {
  font-size: large;
  font-family: "Syne";
  padding: 0.5rem;
  border-radius: 0.5rem;
}
