.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #15202b;
}

.navigation-bar {
  background-color: #15202b;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white;
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.App-body {
  background-color: #15202b;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: scroll;
  max-width: 1200px;
  width: 100%;
}

.App-body::-webkit-scrollbar {
  display: none;
}

.navigation-menu {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 0.5rem 0;
}

.navigation-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navigation-link:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(249, 247, 247, 0.1);
}
